<%- layout("layouts/boilerplate") %>

<div class="row ">
    <div class="alert alert-danger col-10 offset-1 mt-4" role="alert">
        <h4 class="alert-heading"><%= err.message %></h4>
  
    </div>
</div>
